body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #eee;
}
.main-container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  background: #fbfafa;
  border-radius: 8px;
  margin-top:6rem;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.restaurant-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 60px;
  margin: auto;
  background-color: #d3dce3;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-side {
  background: linear-gradient(#fff, #dcdcdc);;
  min-height: 100px;
  width:100%;
}


.login-form {
  max-width: 320px;
  width: 100%;
}

.form-control {
  padding: 0.6rem 1rem;
  width:3rem;
  border-radius: 8px;
}

.btn-primary {
  background-color:rgb(186, 214, 236);;
  border-color: #d3dce3;;
  padding: 0.6rem;
  color:#000;
  border-radius: 8px;
}

.btn-primary:hover {
  background: linear-gradient(#fff, #dcdcdc);
  border-color: linear-gradient(#fff, #dcdcdc);
  color:blue;
}


.mb-3 {
  margin-bottom: 0.8rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}





@media (max-width: 768px) {
  .main-container {
      margin: 1rem auto;
  }
  
  .left-side {
      min-height: 180px;
  }
}