* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: normal 1rem/1.2 Arial;
  list-style-type: none;
}

a,
a:link,
a:focus,
a:visited {
  text-decoration: none !important;
}

a * {
  cursor: pointer;
  color: inherit;
}
.border-bottom {
  border-bottom:2px solid rgb(207, 211, 214) !important;  
  padding-top:3px
}


.border-radius-1 {
  border-radius: 0.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

h1 {
  font: Bold 1.4rem/1.2 Arial;
}

h2 {
  font: Bold 1.3rem/1.2 Arial;
}

h3 {
  font: Bold 1.2rem/1.2 Arial;
}

h4 {
  font: Bold 1rem/1.2 Arial;
}

h5 {
  font: Bold 0.9rem/1.2 Arial;
}

.bg-lightblue {
  background-color: #ebf5ff !important;
}
.add-icon{
  color: #b72d14;
}
.btn-primary {
  background: linear-gradient(#fff, #dcdcdc);
  border:1px solid #dee2e6;
  color:#000;
  padding: 0.6rem;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #b72d14;
  border-color: #b72d14;
  color:#b72d14;

}

fieldset {
  border: 0.5pt solid #dee2e6;
  padding: 1rem 1rem 1rem;
  position: relative;
  margin: 0 1rem;
  background-color:#eee;
}

header#main-header {
  position: fixed;
  z-index: 99999;
  background: linear-gradient(#fff, #dcdcdc);
  padding-left:990px;
  padding-top:20px;
}

legend {
  font: 400 1rem/1.2 Arial;
  position: absolute;
  padding: 0.25rem 0.5rem;
  border: 1pt solid #dee2e6;
  background-color: #fff;
  left: 2rem;
  z-index: 9;
  top: -1rem;
  width: auto;
}

legend .title-approved {
  left: 15.5rem;
}

legend .title-archived {
  left: 28.4rem;
}

/*===============================================
============== Sidebar Styles ===================
===============================================*/

.main-sidebar button.btn-toggle::before {
  left: auto;
  right: 1rem !important;
}

/*===============================================
============== Setting Items Styles =============
===============================================*/

/* ===================================================
================= error message ============
=================================================== */
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545;
}
