* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: normal 1rem/1.2 Arial;
  list-style-type: none;
}

a,
a:link,
a:focus,
a:visited {
  text-decoration: none !important;
}

a * {
  cursor: pointer;
  color: inherit;
}
.border-bottom {
  border-bottom:2px solid rgb(207, 211, 214) !important;  
  padding-top:1px
}
.border-radius-1 {
  border-radius: 0.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

h1 {
  font: Bold 1.4rem/1.2 Arial;
}

h2 {
  font: Bold 1.3rem/1.2 Arial;
}

h3 {
  font: Bold 1.2rem/1.2 Arial;
}

h4 {
  font: Bold 1rem/1.2 Arial;
}

h5 {
  font: Bold 0.9rem/1.2 Arial;
}

.bg-lightblue {
  background-color: #ebf5ff !important;
}
.add-icon{
  color: #2b414b;
}
.btn-primary {
  background: #d3dce3;
  border:1px solid #dee2e6;
  color:#000;
  padding: 0.6rem;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #a1c5e9;
  border-color: #a1c5e9;
  color:#1b1b1b;

}

fieldset {
  border: 0.5pt solid #dee2e6;
  padding: 1rem 1rem 1rem;
  position: relative;
  margin: 0 1rem;
  background-color:#eee;
}

header#main-header {
  position: fixed;
  z-index: 99999;
  background: linear-gradient(#fff, #dcdcdc);
  padding-left:990px;
  padding-top:20px;
}



/*===============================================
============== Sidebar Styles ===================
===============================================*/

.main-sidebar button.btn-toggle::before {
  left: auto;
  right: 1rem !important;
}

/*===============================================
============== Setting Items Styles =============
===============================================*/

.setting-item .item-icon,
.setting-item .item-text {
  transition: all 0.3s ease-in-out;
}
.setting-item .item-icon {
  width: 50px;
  color: #2b414b;
}
.setting-item:hover .item-icon {
  transform: scale(1.05) rotate(-1deg);
  color: #006797;
}
.setting-item:hover .item-text p,
.setting-item:hover .item-text small {
  color: #006797;
}
.setting-item .item-text p {
  font: 800 0.9rem/1.2 "Cairo";
}
.setting-item .item-text small {
  font: normal 0.9rem/1.2 "Cairo";
}


/* ===================================================
================= Bootstrap Like Modifications ============
=================================================== */
.input-group.sm :where(.input-group-text, .form-control, .form-select) {
  height: 33px;
  line-height: 33px;
}

.input-group.sm select.form-select {
  padding-top: 0;
}

/* ===================================================
================= Bootstrap Modifications ============
=================================================== */
.table tr td {
  padding: 0.2rem 0.5rem;
}

.card {
  border-radius: 0;
}
.card-home{
  background: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: .5em solid #d3dce3;
}

.card .card-header {

    padding: 0;
    background-color: #d3dce3;
    font-weight: bold;
    border: 0;
}


.card .card-header .card-title {
  padding: 0.5rem 1rem;
  margin: 0;
}

/* ===================================================
================= error message ============
=================================================== */
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545;
}


/* ===================================================
================= profile page ============
=================================================== */
  :root {
    --primary-color: #3498db;
    --secondary-color: #f8f9fa;

    --border-color: #dee2e6;
  }

  .nav-tabs {
    border-bottom: 4px solid #dee2e6;
    position: relative;
  }

  .nav-tabs .nav-link {
    color: #495057;
    border: none;
    margin-right: 5px;
    padding: 10px 20px;
    font-weight: 500;
    position: relative;
    background-color: transparent;
  }

  .nav-tabs .nav-link:hover {
    color: #212529;
  }

  .nav-tabs .nav-link.active {
    color: #000;
    /* font-weight: 600; */
    background-color: transparent;
  }

  .nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
  }

  .tab-content {
    padding: 20px;
    border-top: none;
  }



  .profile-header {
    text-align: left;
    margin-bottom: 10px;
    color: #2c3e50;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }

  .form-label {
    font-weight: 600;
    color: #495057;
  }

  .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(52, 152, 219, 0.25);
  }

  .btn-upload {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px dashed var(--primary-color);

    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 12px;
    margin-top: -10px;
    padding: 5px;
  }

  .btn-upload:hover {
    background-color: var(--primary-color);
    color: white;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
